@{
    ViewData["Title"] = "Home Page";
    ViewData[LeaveManagement.ManageNavPages.Employees] = LeaveManagement.ManageNavPages.Home;
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    

    <div class="text-center alert alert-dark">
        <h1 class="display-4">@Localizer["Leave Management System with ASP.NET Core 3.1"]</h1>
    </div>
    <div class="jumbotron">
        @Localizer["<p>It is learning example application for Udemy lessons <a href=\"https://www.udemy.com/course/complete-aspnet-core-31-and-entity-framework-development/\">Complete ASP.Net Core 3.1 and Entity Framework Development</a>.</p>"]
        <h5>Learn about:</h5>
        <ul>
            <li>
                <p>.NET Core 3.1</p>
            </li>
            <li>
                <p>ViewModels and AutoMapper</p>
            </li>
            <li>
                <p>Entity Framework, Code First</p>
            </li>
            <li>
                <p>Dependency Injection</p>
            </li>
            <li>
                <p>Repository Pattern</p>
            </li>
            <li>
                <p>Identity and Authentication</p>
            </li>
            <li>
                <p>Bootstrap 4 and AdminLTE</p>
            </li>
            <li>
                <p>Client and Server Side Validation</p>
            </li>
            <li>
                <p>Linq Queries and Lambda Expressions</p>
            </li>
            <li>
                <p>Localizations</p>
            </li>
        </ul>
    </div>
</div>
