@model LeaveManagement.ViewModels.LeaveType.LeaveTypeEditionViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Localizer["Edit leave type"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LeaveTypeName" class="control-label"> @Html.DisplayNameFor(model => model.LeaveTypeName)</label>
                <input asp-for="LeaveTypeName" class="form-control" />
                <span asp-validation-for="LeaveTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> @LeaveManagementLocalizerFactory.CommandsLocalizer["Save"]
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary"><i class="fa fa-list"></i> @LeaveManagementLocalizerFactory.CommandsLocalizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
