@model LeaveManagement.ViewModels.LeaveRequest.EmployeeLeaveRequestsViewModel

@{
    ViewData["Title"] = LeaveManagementLocalizerFactory.MenuLocalizer["Review leave requests"];
    ViewData[LeaveManagement.ManageNavPages.ActivePageSection] = LeaveManagement.ManageNavPages.LeaveRequest;
}
@section Styles{
    <partial name="_DataTablesStyles" />
}
@section Scripts{
    <partial name="_DataTablesScripts" />
}
<h1>@Localizer["Syntese"]</h1>
<div class="row">
    @await Html.PartialAsync("_LeavesData", Model.LeaveAllocations)
</div>

<hr />
<h4>@Localizer["Your leave requests"]</h4>
@await Html.PartialAsync("_LeaveRequestsTable", Model.LeaveRequests)
